<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <%- include ('../partials/head.ejs') %>

  </head>
  <body>
    <!-- -------------- Banner & Nav --------------- -->

    <%- include ('../partials/nav.ejs') %>

    <!-- ------------------ Main -------------------- -->
    <h1>Hello World</h1>
  </body>
</html>
