<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <%- include ('../partials/head.ejs') %>

  </head>
  <body>
    <!-- -------------- Banner & Nav --------------- -->

    <%- include ('../partials/hero.ejs') %>
    <%- include ('../partials/nav.ejs') %>


    <!-- ------------------ Main -------------------- -->

  <div class="card newForm">
  <div class="card">

    <div class="card-header">
      <h3>New Experience</h3>
    </div>
    <div class="card-body">
    <form action="/main" method="post" class="form-inline">

      <div class='form-group'>
      <label>Title: </label>
      <input type="text" name="title" class="form-control"/><br/><br/>
      </div>

      <div class='form-group'>
      <label>Picture: </label>
      <input type="text" name="picture" class="form-control"/><br/><br/>
      </div>

      <div class='form-group'>
      <label>Description: </label>
      <textarea name="description" class="form-control"></textarea><br/><br/>
      <input type="hidden" name="author" value='currentUser' /><br/>
      </div>

      <div class='form-group'>
      <label>Tags: </label><br/><br/>
      <div class="form-check form-switch">
        <label class="form-check-label" for="flexSwitchCheckDefault">Creativity:</label>
        <input type='checkbox' name='creativity' class="form-check-input" id="flexSwitchCheckDefault"/>
      </div>

      <div class="form-check form-switch">
        <label class="form-check-label" for="flexSwitchCheckDefault">Lifestyle:</label>
        <input type='checkbox' name='lifestyle' class="form-check-input" id="flexSwitchCheckDefault"/>
      </div>

      <div class="form-check form-switch">
        <label class="form-check-label" for="flexSwitchCheckDefault">Nature:</label>
        <input type='checkbox' name='nature' class="form-check-input" id="flexSwitchCheckDefault"/>
      </div>

      <div class="form-check form-switch">
        <label class="form-check-label" for="flexSwitchCheckDefault">Adventure:</label>
        <input type='checkbox' name='adventure' class="form-check-input" id="flexSwitchCheckDefault"/>
      </div>

      <div class="form-check form-switch">
        <label class="form-check-label" for="flexSwitchCheckDefault">Travel:</label>
        <input type='checkbox' name='travel' class="form-check-input" id="flexSwitchCheckDefault"/>
      </div>

      <input type='hidden' name='likes' value='0'><br/><br/>
      <input type="submit" value="Post"/>

      </div>


    </form>

  </div>
  </div>
  </div>


  </body>
</html>
